<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Asset Mananger</h1>
    <form action="/" method="post">
    {% csrf_token %}
        {% for field in form %}
            <div class="form-control {% if field.errors %}errors{% endif %}">
                {{field.label_tag}}
                {{field}}
                {{field.errors}}
            </div>
        {% endfor %}
        <button>submit</button>
    </form>
    <hr>
    <h2>주식목록</h2>
    <ul>
    {% for element in stock_list %}
        <li>{{element.stock_name}}: {{element.stock_amount}}</li>
    {% endfor %}
    </ul>
</body>
</html>