{% extends 'base.html' %}
{% load static %}
{% block head %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/pie_chart.css' %}">


{% endblock %}

{% block content %}


<figure class="highcharts-figure">
  <div id="container"></div>
  <p class="highcharts-description">
    보유하고 있는 주식 비율 그래프입니다.
  </p>
</figure>

<script>
const data = JSON.parse("{{data|escapejs}}")
// Data retrieved from https://netmarketshare.com
Highcharts.chart('container', {
  chart: {
    plotBackgroundColor: null,
    plotBorderWidth: null,
    plotShadow: false,
    type: 'pie'
  },
  title: {
    text: '주식 목록과 비율'
  },
  tooltip: {
    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
  },
  accessibility: {
    point: {
      valueSuffix: '%'
    }
  },
  plotOptions: {
    pie: {
      allowPointSelect: true,
      cursor: 'pointer',
      dataLabels: {
        enabled: true,
        format: '<b>{point.name}</b>: {point.percentage:.1f} %'
      }
    }
  },
  series: [{
    name: 'Brands',
    colorByPoint: true,
    data: data.stock_list,
  }]
});
</script>

{% endblock %}